input[type="file"] {
    display: none;
}

ul li{
    background-color: rgb(69, 206, 216);
    background: linear-gradient(to right, #fabf87, #88ebf8);
    width: 250px;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

label {
    cursor: pointer;
}
.attach form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul li:hover {
    background-color: #ec992d;
    transition: 1s;
}
h1 {
    padding: 15px;
    color: #0f8cdf;
}

