*{
    padding: 0;
    margin: 0;
}

.section-2{
    padding: 10px;
    color: rgb(228, 231, 233);
    background: rgb(13, 20, 53) !important;
    width: 200px !important;
    margin: 0px !important;
}
.a4-paper{
    width: 595px !important; /* A4 paper width */
    height: 842px !important; /* A4 paper height */
    margin: 0; /* Remove default margins */
}

.section-2 img{
    width: 75%;
    border-radius: 50%;
}
h2{
    color: antiquewhite !important;
    font-size: 20px !important;
}

