* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: rgb(0, 183, 255);
    background: linear-gradient(to right, #b2e6f3, #59a4eb);
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul li {
    list-style-type: none;
}

.evaluation {
    background-color: white;
    width: 70%;
    padding: 40px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.35);
}

ul li[class="head"] {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.little {
    margin-left: 40px;
    margin-top: 5px;
}

button {
    background-color: #410cd5;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #0ca6d5;
    border: 1px solid #0ca6d5;
    transition: 0.6s;
}