#pageloader{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(255, 255, 255) url("../photo/Book.gif") no-repeat center center;
    z-index: 10000;
    background-size: 70px;
}