@import url("https://fonts.googleapis.com/css2?family=Federant&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(187, 179, 179);
  font-family: "Fira Sans", sans-serif !important;
}

/* Scroll-bar style Start */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0097ee4b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d03a167;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Scroll-bar style End */


.navbar-brand {
  font-family: "Federant", serif !important;
}
.container-1 {
  margin: 50px;
  width: 100%;
  background-size: cover;
}

.navigation {
  color: black;
}

.dropdown-item{
  border-radius: 12px !important;
}

.dropdown-item:hover {
  background-color: rgba(14, 117, 214, 0.479) !important;
  background: linear-gradient(to right, #648cd4, #5397ce) !important;
  border-radius: 0px !important;
  transition: 0.6s;
  color: white !important;
}

.nav-link {
  border-radius: 20px !important;
}

.nav-link:hover {
  background-color: rgba(14, 117, 214, 0.479) !important;
  background: linear-gradient(to right, #0e51cf, #1779ca) !important;
  border-radius: 6px !important;
  color: white !important;
  transition: 0.6s;
}

/* Sign In and Join Us button Style start */
.join-button{
  width: 100px;
  background: linear-gradient(to right, rgb(155, 128, 236),rgb(132, 232, 236));
  border: none;
}

.join-button:hover{
  color: #ffffff !important;
  transition: 0.6s;
  background: linear-gradient(to right, #569ae793, #2be4cbc2);
  border-radius: 15px;
}

/* First container */

.div-1 {
  width: 100%;
  height: 100vh;
  background-color: #d5e3f3;
}

/* Front content style judt like assignment helper website */

.front-content{
  margin: 0 auto;
  max-width: 800px;
}
.img-1 img {
  width: 500px;
  max-width: 100%;
  padding: 10px;
  background-color: #0e51cf;
  background-image: linear-gradient(to right, #659ffc 0%, #c2e9fb 51%, #afa1fd 100%);
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.445) ;
  transition: background 0.6s ease, box-shadow 0.6s;
}

.img-1 img:hover {
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.445);
  background-image: linear-gradient(to right, #afa1fd 0%, #c2e9fb 51%, #659ffc 100%);
}

.paragraph p{
  font-size: 20px;
  color: #0056b3;
}

.definition p{
  color: #64686b;
  font-size: 14px;
}

.div-promotion {
  background: rgb(255,255,255);
  background: linear-gradient(63deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(213,227,243,1) 50%, rgba(213,227,243,1) 100%);
}

.div-promotion-2 {
  background: rgb(255,255,255);
  background: linear-gradient(-63deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(213,227,243,1) 50%, rgba(213,227,243,1) 100%);
}
/* Scroll Down Button Style */

.scroll-down-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.scroll-down-btn button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.scroll-down-btn button:hover {
  background-color: #0056b3;
}

/* Div - 2 create style */
.support-list{
  background-color: #1656e0;
  padding: 10px;
  margin-top: 5px;
  color: white;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  background: linear-gradient(to right, #a375ee, #5bbdeb);
  width: 100%;
  cursor: pointer;
}

.support-list i{
  width: 100%;
  display: flex;
  padding: 5px;
  font-size: 22px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.support-list:hover{
  box-shadow: 10px 10px 30px 10px #0000004b;
  transition: 0.6s ease-out;
}

/* These courses are covered by our experts */

.div-3{
  background-color: #d5e3f3;
}
.book-store img{
  background-color: #0056b3;
  background: linear-gradient(to right, #3edce7, #f37f7f);
  padding: 20px;
  border-radius: 50px;
}

.course-list ul li{
  margin-top: 20px;
  list-style-type: none;
}

.course-list ul li::before{
  content: '▶';
  margin-right: 0.5em;
  color: #0098b3;
}

/* testimonial style */
.div-4{
  background-color: #d5e3f3;
}

.testimonial-img{
  width: 600px !important;
  text-align: center;
}

.testimonial-img img{
  width: 150px !important;
  border: #0056b3 5px solid;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}

.bg-test{
  background-color: #0056b3;
  background: linear-gradient(to top, #b6cbeb, #1d68da85);
  border-radius: 50px;
}

.test{
  width: 1000px;
}

.login-des {
  width: 350px !important;
}