@import url("https://fonts.googleapis.com/css2?family=Federant&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fira Sans", sans-serif !important;
}

.navbar-brand {
  font-family: "Federant", serif !important;
}
.container-1 {
  background-color: rgba(31, 68, 230, 0.6);
  background: linear-gradient(to right, #dee8ee, #52a0e0);
  position: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.navigation {
  color: white;
}

.dropdown-item:hover {
  background-color: rgba(14, 117, 214, 0.479) !important;
  background: linear-gradient(to right, #011f57, #034072) !important;
}

.nav-link:hover {
  background-color: rgba(14, 117, 214, 0.479) !important;
  background: linear-gradient(to right, #011f57, #034072) !important;
  border-radius: 12px;
  transition: 0.6s;
}

.profile {
  padding-top: 100px;
}

.profile-status {
  padding-top: 100px;
  font-size: 16px;
}

.profile img{
  width: 100px;
  border-radius: 20px;
}

.dash a{
  text-decoration: none;
}

.dash {
  border-radius: 50px 50px 0px 0px;
  color: white;
  background-color: #011f57a8;
}

iframe {
  border-radius: 20px 0 20px 20px;
  height: 400px;
}