@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif !important;
}

button, a{
    width: 100px;
}

.first-column {
    padding: 0px !important;
    padding-top: 20px !important;
    background-color: #1f3b5e !important;
    min-height: 29.69cm !important;
    width: 7cm !important;
}

.second-column {
    min-height: 29.69cm !important;
    width: 14cm !important;
}
#cvdownload{
    margin: 0;
    padding: 0;
}
.title {
    background-color: #0e2036 !important;
}


.page {
    width: 21cm !important;
    min-height: 29.7cm !important;
}

h1{
    font-size: 26px !important;
}

h2{
    font-size: 23px !important;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

@page {
    size: A4;
    margin: 0;
}